@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.footer {
  display: flex;
  background-color: rgb(221, 220, 220);
  justify-content: space-between;
  padding: 15px;
}

.content {
  align-self: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: rgb(59, 59, 59);
}

button {
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.input {
  display: flex;
  justify-content: center;
}

.buttons :nth-child(1) {
  margin-right: 10px;
}